alembic
aniso8601
asttokens
axios
blinker
certifi
charset-normalizer
click
decorator
exceptiongroup
executing
Faker
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Mail
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
idna
ipdb
ipython
itsdangerous
jedi
Jinja2
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-sqlalchemy
matplotlib-inline
mdurl
packaging
parso
pexpect
prompt-toolkit
ptyprocess
pure-eval
Pygments
PyJWT
python-dateutil
pytz
requests
rich
six
SQLAlchemy
SQLAlchemy-serializer
stack-data
toml
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
