/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
   
}

.navbar-brand a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
   text-decoration: none; 
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #ffffff;
}

/* Responsive styling */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        flex-direction: column;
        gap: 10px;
    }
}
